* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background: rgb(19, 123, 177);
  background: linear-gradient(
    0deg,
    rgba(19, 123, 177, 1) 0%,
    rgba(0, 48, 73, 1) 99%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
.app {
  text-align: center;
}
.app h1 {
  color: white;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  margin-top: 5rem;
  text-transform: capitalize;
  text-shadow: 5px 1px black;
}

.input input {
  border: none;
  padding: 1.5rem;
  margin: 5rem auto 3rem;
  min-width: 20rem;
  border-radius: 30px;
  font-size: 1.5rem;
}

.input input:focus {
  border: none;
  outline: none;
}

.input button {
  border: none;
  margin-left: 1.5rem;
  background-color: transparent;
  outline: none;
}

.input button > i {
  font-size: 2.5rem;
  color: white;
  transition: transform 0.2s ease-out;
}
.input button > i:hover {
  color: #2f9e6a;
  transform: rotate(90deg);
}
.list {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  transition: all 1s ease-in;
}
.list li {
  height: 2rem;
  min-width: 21rem;
  padding: 2rem;
  margin: 0.5rem;
  background-color: aliceblue;
  border-radius: 10px;
  font-size: 1.1rem;
  position: relative;
}
.list li > i {
  color: red;
  /* position: absolute; */
  justify-content: flex-end;
  margin-left: 10px;
  top: 1.8rem;
  left: 80%;
  transition: all 0.2s ease-in;
}
.fa-trash:hover {
  transform: scale(1.1);
  color: #018749;
}
@media screen and (min-width: 360px) {
  .app h1 {
    font-size: 2.5rem;
  }
  .input input {
    flex-direction: row;
    min-width: 10rem;
  }
}
@media screen and (min-width: 280px) {
  .app h1 {
    font-size: 2.5rem;
  }
  .input input {
    flex-direction: row;
    padding: 1rem;
    min-width: 5rem;
  }
  .list li {
    min-width: 16rem;
  }
}
